*,
::before,
::after {
  box-sizing: border-box;
}

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

body {
  font-family: Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji";
  margin: 0;
  background: #fafafa;
}
button {
  cursor: pointer;
  background: #fff;
  border: solid 1px #ccc;
  border-radius: 4px;
  padding: 8px 22px;
  color: #797874;
}

button:hover {
  color: #000;
  border: solid 1px #000;
}

.text-light {
  color: #757575;
}

.rating-form {
  background: #f5f5f5;
  padding: 18px 32px 32px;
  border-radius: 12px;
  width: 500px;
  margin: 0 auto;
}

.star {
  background-image: url("/assets/star_gray.svg");
  background-repeat: no-repeat;
  background-size: 22px;
  width: 22px;
  height: 22px;
  float: left;
  cursor: pointer;
  margin-right: 4px;
}

.stars-container {
  clear: both;
}

.stars-container.readonly .star {
  cursor: default;
}

.stars-container:not(.readonly):hover .star {
  background-image: url("/assets/star_yellow.svg");
}

.stars-container[data-rating="1"] .star:nth-child(-n + 1) {
  background-image: url("/assets/star_yellow.svg");
}
.stars-container[data-rating="2"] .star:nth-child(-n + 2) {
  background-image: url("/assets/star_yellow.svg");
}
.stars-container[data-rating="3"] .star:nth-child(-n + 3) {
  background-image: url("/assets/star_yellow.svg");
}
.stars-container[data-rating="4"] .star:nth-child(-n + 4) {
  background-image: url("/assets/star_yellow.svg");
}
.stars-container[data-rating="5"] .star:nth-child(-n + 5) {
  background-image: url("/assets/star_yellow.svg");
}

.stars-container:not(.readonly) .star:hover ~ .star {
  background-image: url("/assets/star_gray.svg") !important;
}

#products-container {
  width: 100%;
  margin: 32px auto 0px;
  max-width: 608px;
}

.product {
  background: #fff;
  padding: 22px;
  border-radius: 8px;
  margin-bottom: 22px;
}

.avg-rating-container {
  display: flex;
}

.avg-rating-container span {
  font-size: 22px;
  margin-right: 22px;
}

.avg-rating-container button {
  margin-left: auto;
}

.reviews-container {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
}

.reviews-container .stars-container {
  margin-right: 18px;
  flex-shrink: 0;
}

.reviews-container span {
  color: #757575;
  margin-left: 4px;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
