*,
::before,
::after {
  box-sizing: border-box;
}
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}
body {
  font-family: Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji";
  margin: 0;
  background: #fafafa;
}

input[type="submit"],
button {
  cursor: pointer;
  background: #fff;
  border: solid 1px #ccc;
  border-radius: 4px;
  padding: 8px 22px;
  color: #797874;
}
input[type="submit"]:hover,
button:hover {
  color: #000;
  border: solid 1px #000;
}
input {
  outline: none;
}
.text-light {
  color: #757575;
}
.text-center {
  text-align: center;
}

#rating-form {
  position: fixed;
  left: 0;
  top: 22vh;
  right: 0;
  margin: auto;
  width: 100%;
  max-width: 452px;
  padding: 12px 32px 32px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 1px 1px 0px 2000px rgb(0 0 0 / 42%);
}

#rating-form input[type="text"] {
  display: block;
  padding: 8px 0;
  border: none;
  font-size: 16px;
  margin: 14px 0;
  width: 100%;
}

#rating-form .close-btn {
  font-weight: 100;
  font-family: sans-serif;
  font-size: 16px;
  color: #757575;
  border: none;
  position: absolute;
  top: 18px;
  right: 4px;
}

.star {
  background-image: url("/assets/star_gray.svg");
  background-repeat: no-repeat;
  background-size: 22px;
  width: 22px;
  height: 22px;
  float: left;
  cursor: pointer;
  margin-right: 4px;
}

.stars-container {
  clear: both;
  overflow: hidden;
}

.stars-container.readonly .star {
  cursor: default;
}

.stars-container:not(.readonly):hover .star {
  background-image: url("/assets/star_yellow.svg");
}

.stars-container[data-rating="1"] .star:nth-child(-n + 1) {
  background-image: url("/assets/star_yellow.svg");
}
.stars-container[data-rating="2"] .star:nth-child(-n + 2) {
  background-image: url("/assets/star_yellow.svg");
}
.stars-container[data-rating="3"] .star:nth-child(-n + 3) {
  background-image: url("/assets/star_yellow.svg");
}
.stars-container[data-rating="4"] .star:nth-child(-n + 4) {
  background-image: url("/assets/star_yellow.svg");
}
.stars-container[data-rating="5"] .star:nth-child(-n + 5) {
  background-image: url("/assets/star_yellow.svg");
}

.stars-container:not(.readonly) .star:hover ~ .star {
  background-image: url("/assets/star_gray.svg") !important;
}

#products-container {
  width: 100%;
  margin: 32px auto 0px;
  max-width: 608px;
}

.product {
  background: #fff;
  padding: 22px;
  border-radius: 8px;
  margin-bottom: 22px;
}

.avg-rating-container {
  display: flex;
}

.avg-rating-container span {
  font-size: 22px;
  margin-right: 22px;
}

.avg-rating-container button {
  margin-left: auto;
}

.reviews-container {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
}

.reviews-container .stars-container {
  margin-right: 18px;
  flex-shrink: 0;
}

.reviews-container span {
  color: #757575;
  margin-left: 4px;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hire-me {
  position: fixed;
  bottom: 32px;
  right: 32px;
}
